* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Body global styles*/
body {
	font-size: 16px;
}
/*Header styles*/
#header {
	width: 100%;
	height: auto;
	padding: 10px 20px 50px;
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
}

#header section {
	width: 80%;
	height: auto;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#header > .logo-and-options {
	height: 90px;
	display: flex;
	font-family: robo;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

#header > .logo-and-options h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

#header > .logo-and-options ul li {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	list-style: none;
	display: inline-block;
	margin: 0 0 0 100px;
}

#header > .welcome-section {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#header > .welcome-section > .txtinf {
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	gap: 20px;
}

#header > .welcome-section > .imgfig {
	width: 55%;
	height: auto;
	background-image: url('/img/undraw_Pair_programming_re_or4x.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header > .welcome-section > .txtinf > h1 {
	font-size: 48px;
	font-weight: 700;
	height: min-content;
	width: 100%;
	line-height: 1.5;
}

#header > .welcome-section > .txtinf > p {
	height: min-content;
	width: 100%;
	line-height: 1.4;
	font-weight: 400;
	font-size: 18px;
}

#header > .welcome-section > .txtinf > .btn {
	background-color: #3882f6;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	border-radius: 25px;
	display: block;
	height: 40px;
	padding: 10px;
	border: none;
	flex: 1 1 auto;
	max-width: 60%;
}

/*Main section styles (body of the topic)*/

#main {
	margin-top: 50px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.title,
.plang-img-container,
.quo-container {
	width: 100%;
	flex-basis: auto;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.plang-img-container,
.quo-container {
	flex-grow: 3;
}

.title {
	flex-grow: 0;
	font-family: 'Roboto', sans-serif;
	color: #1f2937;
	justify-content: center;
	align-items: center;
}

.plang-img-container {
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
    margin-top: 50px;
}

.plang-img-container div {
	width: 350px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.plang-img-container .plang-img p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
    width: 75%;
}

.plang-img-container .plang-img .img-langpro {
	width: 200px;
	height: 200px;
}

.plang-img-container .plang-img .img-langpro img {
	object-fit: fill;
	object-position: center;
	height: 100%;
	width: 100%;
	filter: drop-shadow(0px 0px 10px black);
}
