* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Body global styles*/
body{
    font-size: 16px;
}
/*Header styles*/
#header{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

#header > section{
    width: 100%;
    height: 400px;
}

#header > .logo-and-options{
    width: 80%;
    height: 90px;
    display: flex;
    color: white;
    font-family: robo;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

#header > .logo-and-options h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#header > .logo-and-options ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    list-style: none;
    display: inline-block;
    margin: 0  0 0 100px;
}

