* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Body global styles*/
body{
	display: flex;
}
body .container-all {
	font-size: 16px;
}

.container-all{
	display: flex;
	flex-direction: column;
	flex-basis: 900px;
	flex-grow: 1;
	flex-shrink: 0;
	
}
/*Header styles*/
#header {
	width: 100%;
	height: auto;
	padding: 10px 20px 50px;
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
}

#header section {
	width: 80%;
	height: auto;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#header > .logo-and-options {
	height: 90px;
	display: flex;
	font-family: robo;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

#header > .logo-and-options h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

#header > .logo-and-options ul li {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	list-style: none;
	display: inline-block;
	margin: 0 0 0 100px;
}

#header > .welcome-section {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#header > .welcome-section > .txtinf {
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	gap: 20px;
}

#header > .welcome-section > .imgfig {
	width: 55%;
	height: auto;
	background: url('../img/coding.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header > .welcome-section > .txtinf > h1 {
	font-size: 48px;
	font-weight: 700;
	height: min-content;
	width: 100%;
	line-height: 1.5;
}

#header > .welcome-section > .txtinf > p {
	height: min-content;
	width: 100%;
	line-height: 1.4;
	font-weight: 400;
	font-size: 18px;
}

#header > .welcome-section > .txtinf > .btn {
	background-color: #3882f6;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	border-radius: 25px;
	display: block;
	height: 40px;
	padding: 10px;
	border: none;
	flex: 1 1 auto;
	
}

/*Main section styles (body of the topic)*/

#main {
	margin-top: 50px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.title,
.plang-img-container,
.quo-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	font-family: 'Roboto', sans-serif;
	color: #1f2937;
	justify-content: center;
	align-items: center;
}

.plang-img-container {
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
	margin: 50px 0;
}

.plang-img-container div {
	width: 350px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.plang-img-container .plang-img p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
	width: 75%;
}

.plang-img-container .plang-img .img-langpro {
	width: 200px;
	height: 200px;
}

.plang-img-container .plang-img .img-langpro img {
	object-fit: fill;
	object-position: center;
	height: 100%;
	width: 100%;
	filter: drop-shadow(0px 0px 10px black);
}

#main .quo-container {
	background-color: #e5e7eb;
	padding: 100px;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

#main .quo-container .in-content {
	width: 60%;
	height: auto;
}

#main .quo-container .in-content p {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	line-height: 1.4;
}

#main .quo-container .in-content p em span {
	font-weight: bold;
}

/*Section alert for Signing up */

.alert {
	width: 70%;
	height: auto;
	padding: 30px;
	background-color: #3882f6;
	margin: 0 auto 50px;
	border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alert .text{
    width: 40%;
}

/* .alert > .text :where( h2, p, .btn-alert){
    font-family: 'Roboto', sans-serif;
    color: white;
} */

.alert > .text h2, .text p, .alert button{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.alert button{
    background-color: #3882f6;
    border: 2px solid white;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    font-weight: 400;
    font-size: 18px;
}

/*Footer styles*/
#footer{
    width: 100%;
    height: 100px;
    background-color: #1f2937;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
}
